.image_container {
    display: block;
    text-align: center;
    .image_present {
        width: 75%;
        margin-bottom: 1rem;

        animation: fadeInUp;
        animation-duration: 1s;
    }
}

.container-overview {
    margin-bottom: 4rem;

    .container__text {
        width: 50%;
        margin: 0 auto;
        .project {

            &__title {
                margin-bottom: 0;
                color: $light-grey;
            }
            &__statement {
                margin-bottom: 1rem;
            }
            &__overview {
                
            }
        }
        ul {
            margin-bottom: 10rem;
            li {
                margin-bottom: .5rem;
                margin-left: 2rem;
        
                .bold {
                    font-weight: 600;
                }
            }
        }
    }
}

.container-background {
    margin-bottom: 4rem;
    .background {
        &__title {
            margin-bottom: .4rem;
        }
        &__text {
            margin-bottom: 0;
        }
    }
    li {
        margin-bottom: .5rem;
        margin-left: 2rem;

        .bold {
            font-weight: 600;
        }
    }
}

.container-goals {
}