.pageNav {
    margin: 10rem 0 4rem 0 !important;
}

.container-overview {
    margin-bottom: 4rem;
    .role {
        &__title {
            margin-bottom: .4rem;
        }
        &__role {
            margin-bottom: 1rem;
        }
        &__keywords {
            margin-bottom: 1rem;
        }
    }

    .overview {
        &__title {
            margin-bottom: .4rem;
        }
        &__overview {
        }
    }
}

.container-background {
    margin-bottom: 4rem;
    .background {
        &__title {
            margin-bottom: .4rem;
        }
        &__text {
            margin-bottom: 0;
        }
    }
    li {
        margin-bottom: .5rem;
        margin-left: 2rem;

        .bold {
            font-weight: 600;
        }
    }
}

.container-goals {
}